:root {
	--ball-lilac:  #ead9ef;
	--ball-navy:  #002564;
}

a {
	color: var(--ball-navy);
}

.nav-link {
	color: var(--ball-navy);
}

.bi {
  /* vertical-align: -.125em; Not needed for <i> tags */
  fill: currentColor;
}

.feature-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	margin-bottom: 1rem;
	font-size: 2rem;
	color: #fff;
	border-radius: .75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link-fwd:hover > .bi {
  transform: translate(.25rem);
}
.icon-link-back:hover > .bi {
  transform: translate(-.25rem);
}

.bg-special-purple {
	background-color: var(--special-purple);
}

.bg-ball-lilac {
	background-color: var(--ball-lilac);
}

.bg-ball-navy {
	background-color: var(--ball-navy);
}

.text-ball-lilac {
	color: var(--ball-lilac);
}

.text-ball-navy {
	color: var(--ball-navy);
}

.btn-ball-navy {
	background-color: var(--ball-navy);
}

.btn-ball-navy:hover {
	background-color: #0a58ca;
}

.btn-ball-navy:active {
	background-color: #0a58ca;
}

.btn-outline-ball-navy {
	color: var(--ball-navy);
	border-color: var(--ball-navy);
}

.btn-outline-ball-navy:hover {
	color: var(--ball-lilac);
	background-color: var(--ball-navy);
	border-color: var(--ball-navy);
}

.btn-outline-ball-navy:active {
	color: var(--ball-lilac);
	background-color: var(--ball-navy);
	border-color: var(--ball-navy);
}

.btn-outline-ball-lilac {
	color: var(--ball-lilac);
	border-color: var(--ball-lilac);
}

.btn-outline-ball-lilac:hover {
	color: var(--ball-navy);
	background-color: var(--ball-lilac);
	border-color: var(--ball-lilac);
}

.btn-outline-ball-lilac:active {
	color: var(--ball-navy);
	background-color: var(--ball-lilac);
	border-color: var(--ball-lilac);
}

.border-special-purple {
	border-color:  var(--special-purple);
}

.cone-icon {
	color: var(--special-purple);
	/* stroke: var(--special-purple);
	stroke-width: 0.2px; */
}

.cone-icon-text {
	color: var(--bs-dark);
}

.disabled-anchor {
	pointer-events: none;
}

.small-caps {
	font-variant: small-caps;
}

.citymapper-link {
	color: ;
}

.big-underline { /* doesn't work */
	padding: 30px 0 8px;
	position: relative;
}

.big-underline::before {
	content: "";
	position: absolute;
	left:  7%;
	bottom: 16px;
	width: 150px;
	height: 14px;
	transform: skew(-23deg) translateX(-50%);
	background: rgb(220, 53, 69);
	z-index: -1;
}

.card-cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
